<div *ngIf="authService.isLoggedIn()" class="mb-4">
  <h3>Add New URL</h3>
  <form (ngSubmit)="onAddUrl()" class="d-flex">
    <input 
      type="url" 
      name="newUrl" 
      [(ngModel)]="newUrl" 
      class="form-control me-2"
      placeholder="https://example.com" 
      required 
    >
    <button type="submit" class="btn btn-primary">Shorten</button>
  </form>
</div>

<hr *ngIf="authService.isLoggedIn()">

<h2>Short URLs Table</h2>

<table class="table table-hover table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Original URL</th>
      <th>Short URL</th>
      <th>Created By</th>
      <th>Created At</th>
      <th *ngIf="authService.isLoggedIn()">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let url of urls">
      <td class="w-50" style="word-break: break-all;">
        <a [href]="url.originalUrl" target="_blank">{{ url.originalUrl }}</a>
      </td>
      <td>
        <div class="d-flex justify-content-between align-items-center">
          <a [href]="base_url + '/' + url.shortCode" target="_blank">{{ base_url + '/' + url.shortCode }}</a>
          <button (click)="copyToClipboard(apiUrl + '/' + url.shortCode)" class="btn btn-outline-secondary btn-sm ms-2">
            Copy
          </button>
        </div>
      </td>
      <td>{{ url.createdByUsername }}</td>
      <td>{{ url.createdAt | date: 'medium' }}</td>
      <td *ngIf="authService.isLoggedIn()">
        <button (click)="onDelete(url.id)" class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
    <tr *ngIf="urls.length === 0">
      <td [attr.colspan]="authService.isLoggedIn() ? 5 : 4" class="text-center">
        No data available
      </td>
    </tr>
  </tbody>
</table>